# Unity関連
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
ProjectSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.vsidx
fileList.bin

# OS系
.DS_Store
Thumbs.db
ehthumbs.db

# VRChat / Udon / VRCSDK関連
VRCSDK/
VRCSDK2/
VRCSDK3/
[Vv]rcSettings.asset
VRCWorlds/
VRCScenes/
UdonSharp/
SerializedUdonPrograms/
XR/
Scenes/
HoshinoLabs/
TextMesh Pro/
.gitkeep
UdonSharp.meta
SerializedUdonPrograms.meta
XR.meta
Scenes.meta
HoshinoLabs.meta
TextMesh Pro.meta
*.unitypackage

#RacoonStudio

Packages/com.vrchat.*/
Packages/*.json
Packages/.gitignore